"*":
  Repl: {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
    strictMatching: true
  core:
    disabledPackages: [
      "linter-pylint"
      "linter-pep8"
      "linter-flake8"
    ]
    themes: [
      "atom-dark-ui"
      "railscast-theme"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "02cbf4c6-51d8-7e27-f546-aac8556ade88"
  "git-history": {}
  "highlight-selected": {}
  linter:
    ignoredLinterErrors: [
      "pep8"
    ]
  "linter-flake8":
    ignoreErrorCodes: [
      "D102"
      "D202"
      "D203"
      "D205"
      "D302"
      "D400"
      "E502"
      "E712"
    ]
    maxLineLength: 150
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "project-manager":
    closeCurrent: true
  "symbols-tree-view": {}
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
    style:
      defaultPanelHeight: "200px"
      theme: "dracula"
  "tree-view": {}
  welcome:
    showOnStartup: false
